body{
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.main-wrapper {
    padding: 0;
}

nav {
    color: grey!important;
    height: 90px!important;
}

nav .sidenav-trigger {
    float: right !important;
}

nav .brand-logo {
    height: 80px;
}

.logo {
    height: 80px;
    margin: 10px;
}

.banner {
    height: 60vh;
}

.links {
    height: 20vh;
}

.icon {
    margin-top: 12px;
    font-size: 40px;
    color: #363636;
}

.about {
    margin-top: 12px;
    font-size: 25px;
    color: #363636;
}

.para {
    font-size: 15px;
    justify-content: center;
}

.icon2 {
    margin-top: 12px;
    font-size: 40px;
    color: #FFF;
}

.green-font {
    color: #239b62;
}

.orange-font {
    color: #f68841;
}

.header {
    color: grey;
}

.banner-text {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

.banner-number {
    font-size: 35px;
    letter-spacing: 4px;
    font-family: 'Oswald', sans-serif;
}

.normal-text {
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
}

.green-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: #129b63;
}

.orange-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: #f68841;
}

.main-link {
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

footer{
    background-color: #333333;
}

.footer-heading {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.footer-copyright {
    text-align: center;
    padding: 10px;
    font-size: 10px;
}

.footer-social li {
    width: 20px;
    display: inline;
}

.auth-form-container {
    width: 100%;
    min-height: 92.8vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    z-index: 1;
}

.auth-form {
    width: 400px;
    padding:12px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.text-center{
    text-align: center;
}

.checkbox {
    height: 30px;
}

.notification-icon {
    margin-top: 10px;
    font-size: 30px;
}

.notification {
    padding: 15px !important;
    display: flex;
    align-self: center;

}

.notification span {
    margin-top: 13px;
    margin-left: 20px;
    width: 100%;
}

.error{
    color: red;
}

#map {
    height: 600px;
}

#lat-lng-map{
    height: 300px;
}


#printer-details{
    display: none;
}

.btn-inactive{
    background-color: lightgray;
}

#printer-steps{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
}

.printer-images-container img, .printer-images-container2 img{
    max-height: 275px !important;
}

.printer-images-container, .printer-images-container2{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.printer-images-container{
    width: 90%;
}

.printer-images-container2{
    width: 50%;
}

#call-to-action{
    min-width: 20%;
    margin: auto;
    display: block;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

@media only screen and (max-width: 600px) {
    footer {
        text-align: center;
    }

    .logo {
        height: 60px;
    }

    .header {
        font-size: 33px;
    }

    .banner-number {
        font-size: 20px;
        letter-spacing: 0px;
    }

    .normal-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .banner {
        height: 75vh;
    }
}

@media only screen and (min-width: 1024px) {
    .banner {
        height: 45vh;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-ul-margin {
        margin: 5%;
        text-align: center;
    }

    .banner {
        height: 60vh;
    }


    .auth-form{
        width: 700px;
    }
}
