body{
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.main-wrapper {
    padding: 0;
}

nav {
    color: grey!important;
    height: 90px!important;
}

.logo {
    height: 80px;
    margin: 10px;
}

.banner {
    height: 60vh;
}

.links {
    height: 20vh;
}

.icon {
    margin-top: 12px;
    font-size: 40px;
    color: #363636;
}

.icon2 {
    margin-top: 12px;
    font-size: 40px;
    color: #FFF;
}

.green-font {
    color: #129b63;
}

.orange-font {
    color: #f68841;
}

.header {
    font-size: 30px;
    color: grey;
}

.banner-text {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.green-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: #129b63;
}

.orange-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: #f68841;
}

.main-link {
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

footer{
    background-color: #333333;
}

.footer-heading {
    font-size: 30px;
    font-weight: 900;
}

.footer-copyright {
    text-align: center;
    padding: 10px;
}

.footer-social li {
    width: 20px;
    display: inline;
}


@media only screen and (max-width: 600px) {
    footer {
        text-align: center;
    }

    .logo {
        height: 60px;
    }

    .header {
        font-size: 33px;
    }

}

@media only screen and (max-width: 768px) {
    .banner {
        height: 45vh;
    }
}

@media only screen and (min-width: 1024px) {
    .banner {
        height: 45vh;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-ul-margin {
        margin-left: 37%;
    }

    .banner {
        height: 60vh;
    }
}
